.logo-img {
  width: 300px;
}

.image-hdr {
  width: 30px;
  margin-left: 15px;
}

.banner-img {
  width: 100%;
  height: 450px;
  background-image: url('../images/breakfast-bg.jpg');
  opacity: 0.84;
}

.text-msg {
  position: absolute;
  margin: 90px 540px;
  font-size: 33px;
  line-height: 75px;
  font-family:'Arial Narrow Bold', sans-serif;
}