body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-top: 14px;
    width: 600px;
    height: 400px;
}

p {
    text-align: center;
}

#p1 {
    color: green;
}

.dalign {
    float: left;
    margin-left: 21em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.dalign-video {
    float: right;
    margin-right: 21em;
    margin-top: 3em;
    margin-bottom: 3em;
}